:root {
    --x-border-radius: 12px;

    --x-scrollbar-border-size: 4px;
    --x-scrollbar-border-size-reverse: calc(
        var(--x-scrollbar-border-size) + var(--x-border-radius)
    );

    --x-markdown-space-between: 2rem;

    --x-markdown-hover-inline-code-bg: transparent;
    --x-markdown-hover-inline-code-bg-dark: rgb(0, 0, 0, 10%);
    --x-markdown-hover-inline-code-bg-light: rgb(255, 255, 255, 10%);
}

.window-title,
.menubar-menu-title,
.monaco-breadcrumb-item {
    font-size: 10px !important;
}

.monaco-workbench .part.statusbar,
.monaco-workbench
    .part.statusbar
    > .items-container
    > .statusbar-item
    span.codicon {
    font-size: 10px !important;
}

/* Light theme */
.monaco-workbench.vs {
    --x-markdown-hover-inline-code-bg: var(
        --x-markdown-hover-inline-code-bg-dark
    );
}

/* Dark theme */
.monaco-workbench.vs-dark {
    --x-markdown-hover-inline-code-bg: var(
        --x-markdown-hover-inline-code-bg-light
    );
}

/* The box that shows up when hovering over thigns */

.monaco-editor .monaco-hover {
    border-width: 2px !important;
    border-radius: var(--x-border-radius) !important;
}

.monaco-editor .monaco-hover a {
    border-bottom: 2px solid !important;
    cursor: pointer !important;
}

.monaco-hover a {
    cursor: pointer !important;
}

.monaco-editor .monaco-hover .hover-contents:not(.html-hover-contents) {
    padding: 1rem !important;
}

.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) {
    border-top-width: 2px !important;
}

.scrollbar > .slider {
    box-sizing: border-box !important;
    background-clip: padding-box !important;
    border: var(--x-scrollbar-border-size) solid transparent !important;
}

.scrollbar.vertical > .slider {
    border-bottom-width: var(--x-scrollbar-border-size-reverse) !important;
    border-top-width: var(--x-scrollbar-border-size-reverse) !important;
}

.scrollbar.horizontal > .slider {
    border-right-width: var(--x-scrollbar-border-size-reverse) !important;
    border-left-width: var(--x-scrollbar-border-size-reverse) !important;
}

/* Shadow. When it's not the start of a scrollable element, on the starting and ending there is a shadow that looks ugly */

.monaco-scrollable-element .shadow {
    display: none !important;
}

.monaco-hover code {
    padding: 0.2em 0.4em !important;
}

.monaco-hover-content {
    line-height: 32px !important;
}

.monaco-hover .code,
.monaco-hover h1,
.monaco-hover h2,
.monaco-hover h3,
.monaco-hover h4,
.monaco-hover h5,
.monaco-hover h6,
.monaco-hover p,
.monaco-hover ul {
    margin: unset !important;
}

.monaco-hover .rendered-markdown > * + * {
    margin-top: var(--x-markdown-space-between) !important;
}

.monaco-hover .rendered-markdown p br {
    display: block !important;
    margin-top: var(--x-markdown-space-between) !important;
    content: "" !important;
}

.monaco-workbench {
    --vscode-textCodeBlock-background: var(
        --x-markdown-hover-inline-code-bg
    ) !important;
}

/* Code block */
.monaco-tokenized-source {
    background: var(--x-markdown-hover-inline-code-bg) !important;
    padding: 1rem !important;
    border-radius: var(--x-border-radius);
}

em {
    font-style: normal !important;
}
