/*
------------------------------------------
|          vsCode Pretty Styles          |
------------------------------------------
*/

/*
## How to open dev tools?
1. Press `ctrl` + `shift` + `p`.
2. Select "Toggle Developer Tools".
*/

.window-title,
.menubar-menu-title,
.monaco-breadcrumb-item {
    font-size: 10px !important;
}

/* Footer/(Status bar) */
.monaco-workbench
    .part.statusbar
    > .items-container
    > .statusbar-item
    span.codicon {
    font-size: 12px !important;
}

/*
------------------------------------------
|               Improve UI               |
------------------------------------------
*/

:root {
    /* [^1] */
    --my-scrollbar-border-size: 4px;
    --my-scrollbar-border-size-reverse: calc(
        var(--my-scrollbar-border-size-reverse) + 2px
    );

    --my-markdown-items-spacing: 2rem;

    --my-hoverbox-markdown-inline-code-background: transparent;
    --my-hoverbox-markdown-inline-code-background-dark: rgb(0, 0, 0, 10%);
    --my-hoverbox-markdown-inline-code-background-light: rgb(
        255,
        255,
        255,
        10%
    );
}

/* Light */
.monaco-workbench.vs {
    --my-hoverbox-markdown-inline-code-background: var(
        --my-hoverbox-markdown-inline-code-background-dark
    );
}

/* Dark */
.monaco-workbench.vs-dark {
    --my-hoverbox-markdown-inline-code-background: var(
        --my-hoverbox-markdown-inline-code-background-light
    );
}

/* [^1] The box that shows up when hovering over thigns */
.monaco-editor .monaco-hover .hover-contents:not(.html-hover-contents) {
    padding: 2rem !important;
}

.scrollbar > .slider {
    box-sizing: border-box !important;
    background-clip: padding-box !important;
    border: var(--my-scrollbar-border-size) solid transparent !important;
}

.scrollbar.vertical > .slider {
    border-bottom-width: var(--my-scrollbar-border-size-reverse) !important;
    border-top-width: var(--my-scrollbar-border-size-reverse) !important;
}

.scrollbar.horizontal > .slider {
    border-right-width: var(--my-scrollbar-border-size-reverse) !important;
    border-left-width: var(--my-scrollbar-border-size-reverse) !important;
}

.monaco-editor .monaco-hover {
    border-width: 2px !important;
    border-radius: 0 !important;
}

.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) {
    border-top-width: 2px !important;
}

.monaco-editor .monaco-hover a {
    border-bottom: 2px solid !important;
    cursor: pointer !important;
}

.monaco-hover a {
    cursor: pointer !important;
}

/* Shadow. When it's not the start of a scrollable element, on the starting and ending there is a shadow that looks ugly */

.monaco-scrollable-element .shadow {
    display: none !important;
}

.monaco-hover code {
    padding: 0.2em 0.4em !important;
}

.monaco-hover-content {
    line-height: 32px !important;
}

.monaco-hover .code,
.monaco-hover h1,
.monaco-hover h2,
.monaco-hover h3,
.monaco-hover h4,
.monaco-hover h5,
.monaco-hover h6,
.monaco-hover p,
.monaco-hover ul {
    margin: unset !important;
}

.monaco-hover .rendered-markdown > * + * {
    margin-top: var(--my-markdown-items-spacing) !important;
}

.monaco-hover .rendered-markdown p br {
    display: block !important;
    margin-top: var(--my-markdown-items-spacing) !important;
    content: "" !important;
}

.monaco-workbench {
    --vscode-textCodeBlock-background: var(
        --my-hoverbox-markdown-inline-code-background
    ) !important;
}

.monaco-tokenized-source {
    background: var(--my-hoverbox-markdown-inline-code-background) !important;
    padding: 2rem !important;
}

/* [^1] END */

em {
    font-style: normal !important;
}
