/* Font */

@font-face {
    font-family: "Geist";
    font-weight: 100 900;
    src: url("/fonts/GeistMonoVF.woff2") format("woff2-variations");
    font-display: block;
}

/* Change PicoCSS variables */

:root {
    --pico-font-family: "Geist";

    --pico-border-width: 0.125rem;
    --pico-border-radius: 0.5rem;
}

/* Center content */

body {
    font-family: var(--pico-font-family);

    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

/* Reset User Agent stylesheet */

form {
    margin-bottom: 0;
}

/* Fix PicoCSS stylesheet */

[type="button"],
[type="reset"],
[type="submit"] {
    margin-bottom: 0;
}

[type="button"]:not(:last-child),
[type="reset"]:not(:last-child),
[type="submit"]:not(:last-child) {
    margin-bottom: var(--pico-spacing) !important;
}

/* Fix PicoCSS styles */

[type="file"] {
    padding: 0;
    margin-left: 0;
    height: auto !important;
}

/* Fix PicoCSS label styles */
label {
    display: inline-block;
}

/* Change PicoCSS styles */

.container {
    max-width: 510px !important;
}

/* --- */

h1 {
    margin-bottom: calc(var(--pico-spacing) + var(--pico-spacing));
}

footer {
    margin-top: var(--pico-spacing);
}
