@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Change PicoCSS variables */

:root {
    --pico-font-family: "Titillium Web";

    --pico-border-width: 0.125rem;
    --pico-border-radius: 0.5rem;
}

/* Center content */

body {
    font-family: var(--pico-font-family);

    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

/* Reset User Agent stylesheet */

form {
    margin-bottom: 0;
}

/* Fix PicoCSS stylesheet */

[type="button"],
[type="reset"],
[type="submit"] {
    margin-bottom: 0;
}

[type="button"]:not(:last-child),
[type="reset"]:not(:last-child),
[type="submit"]:not(:last-child) {
    margin-bottom: var(--pico-spacing) !important;
}

/* Change PicoCSS styles */

.container {
    max-width: 510px !important;
}

/* --- */

h1 {
    margin-bottom: calc(var(--pico-spacing) + var(--pico-spacing));
}

footer {
    margin-top: var(--pico-spacing);
}
