<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="light dark" />
        <link rel="icon" href="/favicon.svg" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6"
        />
        <link rel="stylesheet" href="/index.css" />
        <style rel="preload">
            @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
            body {
                font-family: "Titillium Web";
            }
        </style>
        <title>{{ $props.get("title") }}</title>
    </head>
    <body>
        {{{ await $slots.main() }}}
    </body>
</html>
